# Copy this file to .env and fill in the values for your environment.
# Replace this with the output of `conda run -n srt-dev python -c "import sys;print(sys.executable)"`
SRT_DEV_PYTHON_PATH=/Users/guutz/mambaforge/envs/srt-dev/bin/python